html,
body {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#backgroundImage{
    background-color: blue;
}

.card .is-wide {
    width: 300px;
   
  }
  
  .card {
    justify-content: center;
    align-items: center;
  }
  .has-text-centered{
    justify-content: center;
    align-items: center;
  }
    .card-header{
        justify-content: center;
        align-items: center;
    }
    .card-content{
        justify-content: center;
        align-items: center;
    }
    
    .card-footer {
      justify-content: center;
      align-items: center;
    }