{{!-- THIS IS THE ADD FOOD PAGE --}}
{{!-- THIS IS THE ADD FOOD PAGE --}}
{{!-- THIS IS THE ADD FOOD PAGE --}}

<div >
    <h1> Food Location Form</h1>
    <h3>Step. 1 is to create a location of where the food is located.</h3>
</div>

<div style="margin: 20px auto; width: 50vw; height:70vh;">
    <form action="/" method="POST">
        <div class="field">
            <label class="label">Where's The Food?</label>
            <div class="control">
            <input class="input" type="text" name="buildingName" placeholder="e.g Building Name">
            </div>
        </div>

        <div class="field">
            <label class="label">Floor #</label>
            <div class="control">
            <input class="input" name="floorNumber" type="text" placeholder="e.g. 24">
            </div>
        </div>

        <div class="field">
            <label class="label">Room Name and/Number</label>
            <div class="control">
            <input class="input"  name="roomNameNumber" type="text" placeholder="e.g. Robinson-4111">
            </div>
        </div>
        <div class="field">
            <label class="label">What kind of food is available?</label>
            <div class="control">
            <input class="input" type="text" placeholder="e.g. We have cheese pizza. 3 slices!">
            </div>
        </div>
        <button class="button is-success" type="submit">Share The Location</button>
    </form>
</div>