<h1>LOCATE FOOD</h1>

<div>
  {{#each locations}}
  <a href="{{_id}}">
  <div class="row">
    <div class="col s12 m5">
        <div class="card-panel green">
          <h5> {{buildingName}}</h5>
          <span class="white-text">
            <h6>{{availableFood}}</h6>
          </span>
      </a>

    </div>
  </div>
</div>
{{/each}}
</div>

<div style="display:flex; flex-wrap: wrap;">
{{#each locations}}
<div class="card" style="margin:10px; min-width:400px; max-width:400px; height:350px;">
  <div class="card-content">
    <p class="title">
      “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
    </p>
    <p class="subtitle">
      Jeff Atwood
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Share on <a href="#">Facebook</a>
      </span>
    </p>
  </footer>
</div>
  {{/each}}
  </div>