{{!-- THIS IS THE HOMEPAGE --}}
{{!-- THIS IS THE HOMEPAGE --}}
{{!-- THIS IS THE HOMEPAGE --}}

<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome To Office Food Finder
      </h1>
      <p class="subtitle">
        The place to find <strong>delicious</strong> left-overs from the day's events!
      </p>
       <a href="/findfood" class="button is-success is-inverted is-outlined">I'm Looking For Food 😋 </a>
    <a href="/sharefood" class="button is-success is-inverted is-outlined">I Want To Share Food 👐 </a>
    </div>
  </div>
</section>

  