
<div>
    <h1> Food Location Form</h1>
    <h3>Step. 1 is to create a location of where the food is located.</h3>
</div>

<div>
    <form action="/" method="POST">
        <h6> Where's the food in the building?</h6>
        <input type="text" name="buildingName" placeholder="Building Name" value="">
         <h6> What floor?</h6>
        <input type="text" name="floorNumber" placeholder="Floor" value="">
        <h6> Room Name and/ Number?</h6>
        <input type="text" name="roomNameNumber" placeholder="Room Name" value="">
        <h6> What kind of food is available?</h6>
        <input type="text" name="availableFood" placeholder="List Food Items That Is Available" value="">
    <button type="submit">Share The Location</button>
</form>
    </form>
</div>
