<div>
    <h1>{{location.buildingName}}</h1>
    <h4>{{}}</h4>
    <h4>{{}}</h4>



<form action="/{{location._id}}?_method=DELETE" method= "POST">
        <button class="btn" type="submit"> Delete</button>
</form>

</div>